.cast_box {
    text-align: center;
    width: fit-content;
}

.cast_img {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 100px;
}

.cast_name {
    margin: 0;
}

.cast_box img {
    width: 200px;
}

.cast_box img:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

#content {
    width: 80%;
    margin-left: 10rem;
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
}

#content2 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#table_left {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 450rem;
    min-width: 150rem;
}

#table_right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 450rem;
    min-width: 150rem;
}

.name_jp {
    font-weight: bold;
    color: #000;
    text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
    text-align: center;
    font-size: 28rem;
}

.name_en {
    color: #000;
    text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
    text-align: center;
    font-size: 14rem;
}

#intro {
    text-align: left;
    font-size: 18rem;
    margin: 10rem;
    border-radius: 10px;
    border: solid 1px #ccc;
    padding: 10rem;
    background-color: rgba(255, 255, 255, 0.5);
}

#profile {
    text-align: left;
    margin: 10rem;
    border-radius: 10px;
    border: solid 1px #ccc;
    padding: 10rem;
    background-color: rgba(255, 255, 255, 0.5);
}

#video {
    margin: 10rem 0;
}

.birthday,
.height,
.mark,
.color,
.fan,
.link {
    margin: 0rem 10rem;
    padding: 2rem;
    text-align: left;
    font-size: 15rem;
}

.link_header {
    width: 100%;
    font-weight: bold;
}

#link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    margin: 10rem 10rem;
}

.accounts {
    font-size: 16rem;
}

.linkmark {
    font-size: 12rem;
}

.links {
    display: inline-block;
    margin: 5rem;
    padding: 10rem;
    width: 150rem;
    text-align: center;
    border: solid 1px #cccccc;
    background-color: rgba(255, 255, 255, 0.5);
}

#container {
    margin: -10rem 0 -10rem 0;
    text-align: center;
    width: 100%;
}

.back {
    width: 80%;
}