.cast_box {
    text-align: center;
    width: fit-content;
}

.cast_img {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 100px;
}

.cast_name {
    margin: 0;
}

.cast_box img {
    width: 200px;
}

.cast_box img:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

#content {

    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
}

#content2 {

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}





.name_jp {
    font-weight: bold;
    color: #000;
    text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
    text-align: center;
    font-size: 28rem;
}

.name_en {
    color: #000;
    text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
    text-align: center;
    font-size: 14rem;
}





.accounts {
    font-size: 16rem;
}

.linkmark {
    font-size: 12rem;
}


@media (min-width: 850px) {
    #content {
        width: 80%;
        margin-left: 10rem;
    }

    #content2 {
        width: 100%;
    }

    .back {
        width: 80%;
    }

    #container {
        margin: -10rem 0 -10rem 0;
        text-align: center;
        width: 100%;
    }


    #profile {
        text-align: left;
        margin: 10rem;
        border-radius: 10rem;
        border: solid 1px #ccc;
        padding: 10rem;
        background-color: rgba(255, 255, 255, 0.5);
        width: 90%;
    }

    #intro {
        text-align: left;
        margin: 10rem;
        font-size: 18rem;
        border-radius: 10rem;
        border: solid 1px #ccc;
        padding: 10rem;
        background-color: rgba(255, 255, 255, 0.5);
        width: 90%;
    }


    #table_left {
        max-width: 450rem;
        min-width: 150rem;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    #table_right {
        max-width: 450rem;
        min-width: 150rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .birthday,
    .height,
    .mark,
    .color,
    .fan,
    .art,
    .link {
        margin: 0rem 10rem;
        padding: 2rem;
        text-align: left;
        font-size: 15rem;
    }

    #video {
        margin: 10rem 0;
    }

    .color-sample {
        width: 16rem;
        display: inline-block;
        border: solid 1px #fff;
    }

    .link_header {
        width: 100%;
        font-weight: bold;
    }

    #link {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: left;
        margin: 10rem 10rem;
    }

    .links {
        display: inline-block;
        margin: 5rem;
        padding: 10rem;
        width: 150rem;
        text-align: center;
        border: solid 1px #cccccc;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .brand_logo {
        height: 23rem;
        vertical-align: middle;
    }


    #pic {
        --border-color: black;
        /*カッコの色*/
        margin: 2rem auto;
        padding: 2rem;
        /*内側余白*/
        position: relative;
    }

    #pic::before,
    #pic::after {
        content: '';
        width: 20px;
        height: 30px;
        position: absolute;
    }

    #pic::before {
        border-left: solid 2px var(--border-color);
        border-top: solid 2px var(--border-color);
        top: 0;
        left: 0;
    }

    #pic::after {
        border-right: solid 2px var(--border-color);
        border-bottom: solid 2px var(--border-color);
        bottom: 0;
        right: 0;
    }

}

@media (max-width: 849px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        font-family: 'Noto Sans JP', sans-serif;
    }

    #container {
        text-align: center;
        width: 100%;
    }

    #profile {
        text-align: left;
        padding: 0rem 3rem 3rem 3rem;
    }

    #intro {
        text-align: left;
        padding: 3rem 3rem;
        font-size: 18rem;
    }

    #table_left {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #table_right {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .birthday,
    .height,
    .mark,
    .color,
    .fan,
    .art,
    .link {
        text-align: left;
        font-size: 15rem;
    }

    #video {}

    .color-sample {
        width: 5rem;
        display: inline-block;
        border: solid 1px #fff;
    }

    .link_header {
        width: 100%;
        padding: 1rem;
        font-weight: bold;
    }

    #link {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: left;

    }

    .links {
        display: inline-block;
        padding: 3rem;
        width: 90%;
        text-align: center;
        border: solid 1px #cccccc;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .brand_logo {
        height: 3rem;
        vertical-align: middle;
    }
}