.splide__track{
    max-width: 100vw;
}

.splide{
    width: 100vw;
}



@media (min-width: 770px)	{
.live, .upcoming, .video, .shorts{

    width: 90vw;
}
.slide-image{
    width: 50vw;
    object-fit: cover;
}
.video-thumbnail{
    width: 347px;
    height: 182px;
	object-fit: cover;
}
.video-title{
width: 340px;
}
.video-channel{
width: 340px;
font-size: 14rem;
}


}
@media (max-width: 769px)	{
.slide-image{
    width: 80vw;
    object-fit: cover;
}
.video-thumbnail{
    width: 347px;
    height: 182px;
	object-fit: cover;

}
.video-title{
width: 340px;
}
.video-channel{
width: 347px;
}
}

.slide-image{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
.video-thumbnail{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
.video-title{
word-wrap: break-word;
}
.video-channel{
word-wrap: break-word;
color: #999;
}
.video-channel a{
color: #999 !important;
}