html {
  font-size: 5.46875%;
}

body {
height: 100%
  margin: 0px;
  font-size: 16rem;
  overflow: scroll;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;
  padding-top: 70px;
  justify-content: stretch;
}
body::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}

@media (min-width: 850px) {
  html {
    font-size: 6.25%;
  }

  h1 {
    font-size: 36rem;
  }

  h2 {
    font-size: 32rem;
  }
  h3 {
    font-size:  28rem;
  }

  .sp-nav {
    display: none;
  }

  .content {
    width: 450px;
  }

  .logo {
    width: 200px;
  }

  .pickup-video-thumnail {
    object-fit: cover;
    width: 384px;
    height: 216px;
  }
  .news-child {

    height: 100%;
  }

  .news-col{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    vertical-align:top;
  }

}


@media (max-width: 849px) {
  .pc-nav {
    display: none;
  }

  .content {
    width: 100%;
  }

  .spacer {
    display: none;
  }

  .logo {

  }

  .pickup-video-thumnail {
    width: 100%;
  }
  .news-child {
    width: 100%;
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  font-family: 'Noto Sans JP', sans-serif;
}


h1 {
  font-size: 24rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 20rem;
}

h3 {
  font-size: 18rem;
}

#pickup-video {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
}

.sns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}



#player {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.video-title {
  width: 348px;
  word-wrap: break-word;
  text-align: left;
}


#news {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  vertical-align:top;
}

.news-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align:top;
  text-align: center;
  padding: 0;
}

.video-list{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  vertical-align:top;
  text-align: center;
  height: 100%;
  padding: 0;
}

#tweet {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content {}

.home-main {
  word-wrap: break-word;
}


/* pi吹き出し */
.balloon-left-btm {
  vertical-align: top;
  margin-top: -9rem;
  margin-left: -4rem;
  position: relative;
  display: inline-block;
  width: 20rem;
  height: 20rem;
  line-height: 20rem;
  text-align: center;
  color: #000;
  font-size: 10rem;
  background: #a58eff;
  border-radius: 50%;
  box-sizing: border-box;
}

.balloon-left-btm:before {
  content: "";
  position: absolute;
  bottom: -4rem;
  left: -4rem;
  margin-top: -9rem;
  border: 5rem solid transparent;
  border-left: 5rem solid #a58eff;
  z-index: 0;
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
}


header {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  z-index:10;
}

footer{
  display: flex;
  position: fixed;
  bottom: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  width: 100%;
  margin-top:10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #dcdcdc;
  color: #444444;
  font-size: 14rem;
  flex-wrap: wrap;
}
.footer-box, .footer-box a{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 200rem;
  color: #444444;
  font-size: 14rem;
}

.pc-nav {

}

.spacer {
  width: 200px;
}

/* 変更箇所はコメントの項目のみ */
.sp-nav-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;

  /* 普段は画面外にするために左端を画面右端の位置にする */
  left: 100%;

  z-index: 90;
  background-color: #cccccc;

  /* 右端からゆっくり移動するように表示 */
  transition: all 0.5s;
}


* スマホ用メニュー */

/* スマホ用メニューのリスト */
.sp-nav-list {
  padding: 70px 10px 0;
}

/* スマホ用メニュー項目 */
.sp-nav-item {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}

/* スマホ用メニュー項目のリンク */
.sp-nav-link {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
}

.sp-nav-box {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.sp-nav-box span,
.sp-nav-box span:before,
.sp-nav-box span:after {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #cccccc;
  position: absolute;
}

.sp-nav-box span:before {
  bottom: 8px;
}

.sp-nav-box span:after {
  top: 8px;
}

#sp-nav-check {
  display: none;
}

#sp-nav-check:checked~.sp-nav-box span {
  background: rgba(255, 255, 255, 0);
}

#sp-nav-check:checked~.sp-nav-box span::before {
  bottom: 0;
  background: #ffffff;
  transform: rotate(45deg);
}

#sp-nav-check:checked~.sp-nav-box span::after {
  top: 0;
  background: #ffffff;
  transform: rotate(-45deg);
}

#sp-nav-check:checked~.sp-nav-content {
  left: 0;
}

/* ハンバーガーボタンを押してチェックがONの時だけ
   スマホ用メニューを画面左端に移動する */
#sp-nav-check:checked~.sp-nav-content {
  left: 0;
}

.menu {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.pi {
  vertical-align: top;
  display: inline;
  font-size: 8rem;
}

.logo {
  text-align: left;
  margin-top: 0rem;
  font-size: 40rem;
  white-space: nowrap;

}

.logo-name {
  font-size: 20rem;
  font-weight: bold;
}

a .logo-piyo1 {
  display: none;
}

a:hover .logo-box {
  display: none;
}

a:hover .logo-piyo1 {
  display: inline;
}

a {
  color: black;
  text-decoration: none;
  position: relative;
}

.nav-item {
padding: 0px 5px 0px 5px;
}

.nav-item:hover {
  /*		background-color: gray;
		color: white;*/
}

a:visited {}

.entry-form-link:hover {
  text-decoration: underline;
}

.nav-item::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #000000;
  bottom: -10px;
  /*アンダーラインが現れ始める位置（aタグの下辺からの高さ）*/
  opacity: 0;
  visibility: hidden;
}

.nav-item:hover::after {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}


.discord-area {
  width: 300px;
  height: 50px;
  padding-top: 20px;
  position: relative;
  border-radius: 12px;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        display: none;
        opacity: 0;
        z-index: -1;
    }
}

#loader {
    display:flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    z-index: 20;
    /* 環境によって「z-index」追加 */
}
/* 読み込み完了後に「loaded」を付与する */
#loader.loaded {
    animation: fadeOut 3s forwards;
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2e8b57;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}

.buruburu {
    text-align: center;
    display: inline-block;
    animation: hurueru .2s  infinite;
}

@keyframes hurueru {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(1px, 1px) rotateZ(1deg)}
    50% {transform: translate(0px, 1px) rotateZ(0deg)}
    75% {transform: translate(1px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}
