#nav{
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   vertical-align:bottom;
   align-items: center;
}

#nav li {
  text-align: center;
  margin-right: 10rem;
  margin-left: 10rem;
}

.nav-logo {
font-size: 40rem;
}

.is-current a {

}

.is-current a:after {
position: absolute;
left: 0;
content: '';
width: 100%;
height: 2px;
background: #cccccc;
bottom: -10px;
opacity: 1;
visibility: visible;
} 