#nav{
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

#nav li {
  text-align: center;
  height: 30rem;
  margin-right: 10rem;
  margin-left: 10rem;
}

.nav-logo {
font-size: 28rem;
}

.is-current a {
  color: pink;
} 
