html	{
	font-size: 5.46875%;
}
body	{
	font-size: 16rem;
}
h2	{
	font-size: 28rem;
}
h1 {
    font-size: 36rem;
}
@media only screen and (min-width: 769px)	{
	html	{
		font-size: 6.25%;
	}
    h1  {
        font-size: 20rem;
    }
}
	body{
		display: flex;
		flex-direction: column; 
		justify-content: center;
		align-items: center;
		font-family: 'Noto Sans JP', sans-serif;
	}
	h1{
		justify-content: center;
		stext-align: center;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
	}
	.content{
		text-align:left;
		width: 450px;
		word-wrap: break-word;
	}
	.home-main{
		word-wrap: break-word;
	}
	#header{
        width: 100vw;
		display: flex;
		flex-direction: row; 
		text-align:center;
		justify-content: center;
	}
	.menu{
		display: flex;
		flex-direction: row; 
		text-align:center;
		justify-content: center;
		align-items: center;
        margin-left: 10px;
        margin-right: 10px;
	}
	}
	.header-logo{
		display: flex;
        font-size: 28rem;
	}
    .pi{
        vertical-align: top;
        display: inline;
        font-size: 8rem;
    }

    a .logo-piyo1{
        display: none;
    }
    a:hover .logo-box{
        display:none;
    }
    a:hover .logo-piyo1{
        display:inline;
    }

	a {
		color: black;
		text-decoration: none;
	}
	.nav-item:hover{
		background-color: gray;
		color: white;
	}
	a:visited {

	}
    .discord-area{
		width: 300px;
		height: 50px;
        padding-top: 20px;
		position: relative;
		border-radius: 12px;
}
	.twitter-area {
		width: 300px;
		height: 500px;
		position: relative;
		background-color: #FFF;
		border-radius: 12px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.twitter-area > iframe {
		z-index: 2;
	}
	.twitter-tweet {
		position: absolute;
		z-index: 1;
	}
	.loader,
	.loader:before,
	.loader:after {
	  background: #b0b0b0;
	  -webkit-animation: load1 1s infinite ease-in-out;
	  animation: load1 1s infinite ease-in-out;
	  width: 1em;
	  height: 4em;
	}
	.loader {
	  color: #b0b0b0;
	  text-indent: -9999em;
	  margin: 88px auto;
	  position: relative;
	  font-size: 11px;
	  -webkit-transform: translateZ(0);
	  -ms-transform: translateZ(0);
	  transform: translateZ(0);
	  -webkit-animation-delay: -0.16s;
	  animation-delay: -0.16s;
	}
	.loader:before,
	.loader:after {
	  position: absolute;
	  top: 0;
	  content: '';
	}
	.loader:before {
	  left: -1.5em;
	  -webkit-animation-delay: -0.32s;
	  animation-delay: -0.32s;
	}
	.loader:after {
	  left: 1.5em;
	}
	@-webkit-keyframes load1 {
	  0%,
	  80%,
	  100% {
		box-shadow: 0 0;
		height: 4em;
	  }
	  40% {
		box-shadow: 0 -2em;
		height: 5em;
	  }
	}
	@keyframes load1 {
	  0%,
	  80%,
	  100% {
		box-shadow: 0 0;
		height: 4em;
	  }
	  40% {
		box-shadow: 0 -2em;
		height: 5em;
	  }
	}